p {
  font-size: 1.9vw;
  padding-top: 35%;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.2em;
  text-align: center;
  font-family: "Inconsolata", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
}

h1 {
  color: #89b0ae;
  font-size: 4vw;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "Inconsolata", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
}

#buttonAlign {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  margin: 0 auto;
}

#crossButtonAlign {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  font-size: 2vw;
  margin: 0 auto;
}

#shadow {
  box-shadow: 10px 10px 5px #aaaaaa;
}

.greenButton {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.6vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #cdebe0;
  border: none;
  border-radius: 15px;
}

.greenButton:hover {
  background-color: #9fdfc7;
}

.greenButton:active {
  background-color: #9fdfc7;
  transform: translateY(1px);
}

.crossButton {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.6vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #cdebe0;
  border: none;
  border-radius: 15px;
}

.crossButton:hover {
  background-color: #9fdfc7;
}

.crossButton:active {
  background-color: #9fdfc7;
  transform: translateY(1px);
}
